* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif; 
    line-height: 1.5;
}

body {
    background-color: #000080; 
    font-size: 16px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: #fff;
    width: 30rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

form{
    width: 30%;
    background-color: darkgrey;
    padding: 2rem;;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
    text-align: center;
}

label{
    color: #fff;
    font-weight: 700;
}

#number{
    height: 2.4rem;
}

#convert-btn{
    height: 2rem;
    background-color: orange;
    font-weight: bold;
    border: none;
}